$track-height:8px;
$track-color : #f7ff3c;
$track-bg-color : #908c8c;
$range-color: $track-bg-color;

@mixin range-thumb {
    background: $track-color;
    border: 2px solid $track-color;
    margin: 0;
    position: relative;
    transform: translate(0);
    cursor: pointer !important;
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: 1;
}

@mixin satisfied-thumb {
    background: transparent;
    border: 0px;
    box-shadow: none;
}

.reviews_message {
    .range {
        position: relative;
        .reviews-range {
            -webkit-appearance: none;
            width: 100%;
            height: $track-height;
            background: $range-color;
            outline: none;
            vertical-align: middle;
            padding: 0;
            border-radius: 5px;
        }
        &-satisfied {
            .reviews-label {
                top: -16px;
                z-index: 1;
            }
            input[type=range]{
                &::-webkit-slider-thumb {
                    @include satisfied-thumb;
                }
                &::-moz-range-thumb {
                    @include satisfied-thumb;
                }
                &::-ms-thumb {
                    @include satisfied-thumb;
                }
                
            }
        }
    }

    .reviews-label{
        position: absolute;
        text-align: center;
        font-size: 40px;
        background: $track-bg-color;
        border-radius: 40px;
        color: $track-color;
        top: -60px;
        left: 0;
    }
    
    .reviews-fill {
       position: absolute;
       top: 50%;
       height: $track-height;
       background: $track-color;
       transform: translateY(-50%);
    }
    .satisfied-label {
        position: absolute;
        top: 50%;
        text-align: center;
        font-size: 41px;
        background: white;
        border-radius: 50%;
        color: $range-color;
    }
    input[type=range]{
        &::-webkit-slider-thumb {
            @include range-thumb;
        }
        &::-moz-range-thumb {
            @include range-thumb;
        }
        &::-ms-thumb {
            @include range-thumb;
        }
        
    }
}

.range-demo {
    * {
        font-family: 'Pacifico', cursive;
    }
    h1 {
        font-size: 40px;
    }
    h2 ,
    .block-reviews {
        margin-bottom: 80px;
    }
    .code {
        background: #1e1e1e;
        padding: 25px;
        border: 3px solid $track-color;
    }
}